/* ============================
   BOTTOM NAVBAR
============================ */

.bottom-navbar{

    position:fixed;

    bottom:0;

    left:0;

    width:100%;

    height:70px;

    background:#FFFFFF;

    display:flex;

    justify-content:space-around;

    align-items:center;

    box-shadow:0 -5px 15px rgba(0,0,0,.08);

    z-index:999;

}

.nav-item{

    display:flex;

    flex-direction:column;

    align-items:center;

    justify-content:center;

    color:#888;

    font-size:12px;

    transition:.3s;

}

.nav-item i{

    font-size:22px;

    margin-bottom:4px;

}

.nav-item:hover{

    color:var(--primary);

}

.nav-item.active{

    color:var(--primary);

}